:root {
  --ds-primary-light: #000000; /* Цвет текста для светлой темы */
  --ds-primary-dark: #ffffff; /* Цвет текста для темной темы */
  --ds-background-light: #ffffff; /* Фон для светлой темы */
  --ds-background-dark: #000000; /* Фон для темной темы */
}

body[data-theme="dark"] {
  --ds-primary: var(--ds-primary-dark);
  --ds-background-100: var(--ds-background-dark);
}

body[data-theme="light"] {
  --ds-primary: var(--ds-primary-light);
  --ds-background-100: var(--ds-background-light);
}

.page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--ds-background-100);

  &__header {
    position: sticky;
    top: 0;
    width: 100%;
    padding: var(--spacing-4);
    background-color: var(--ds-background-100);
    z-index: 10;
  }

  &__content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* Центрируем содержимое */
    padding: 0 10px; /* Добавляем отступы для мобильных устройств */
  }

  &__footer {
    display: flex;
    justify-content: center;
    padding: 0 var(--spacing-4);
    padding-bottom: calc(20px + var(--lvh, 100vh) - var(--tg-viewport-height, 100vh));
  }

  &__button {
    width: 100%; /* Кнопка будет растягиваться на всю ширину */
  }

  button {
    width: 100%; /* Сам элемент <Button> растягивается */
  }
}

.section {
  &__heading {
    font-size: 25px;
    font-weight: 700;
    line-height: 34px;
    text-align: center;
    color: var(--ds-primary); /* Убедитесь, что текст имеет правильный цвет */
  }
}

.wheel__container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Центрируем метку и счетчик */
  width: 100%; /* Сделаем счетчик на всю ширину */
  max-width: 500px; /* Ограничиваем максимальную ширину счетчика для мобильных устройств */
}

.wheel__label {
  font-size: 16px;
  margin-bottom: var(--spacing-2);
  text-align: center;
  color: var(--ds-primary); /* Убедитесь, что текст имеет правильный цвет */
}

.wheel__wrapper {
  position: relative;
  width: 100%;
  max-width: 150px;
  height: 150px;
  overflow: hidden;
  border: 2px solid var(--ds-gray-alpha-300);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wheel__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease-out;
}

.wheel__item {
  font-size: 24px;
  padding: var(--spacing-2) 0;
  text-align: center;
  color: var(--ds-primary);
  pointer-events: none;
}

.wheel__value {
  font-size: 24px;
  font-weight: bold;
  color: var(--ds-primary);
}
