.wheelContainer {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 50px; // Высота колеса
  touch-action: pan-y; // Запрещаем вертикальный скролл
}

.wheelItems {
  display: flex;
  transition: transform 0.3s ease-in-out;
  white-space: nowrap;
}

.wheelItem {
  min-width: 100px; // Ширина каждого элемента
  text-align: center;
  padding: 10px;
  cursor: pointer;
  user-select: none;
  font-size: 16px;
  color: var(--ds-gray-alpha-700);
  transition: color 0.3s;

  &.active {
    color: var(--ds-primary);
    font-weight: bold;
  }
}
