.page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;

  display: flex;
  flex-direction: column;

  background-color: var(--ds-background-100);

  &__header {
    position: sticky;
    top: 0;
    width: 100%;
    padding: var(--spacing-4);
    background-color: var(--ds-background-100);
    z-index: 10;
  }

  &__content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__footer {
    display: flex;
    justify-content: center;
    padding: 0 var(--spacing-4);
    padding-bottom: calc(20px + var(--lvh, 100vh) - var(--tg-viewport-height, 100vh));
  }

  &__button {
    width: 100%; /* Кнопка растягивается на всю ширину */
  }

  button {
    width: 100%; /* Сам элемент <Button> растягивается */
  }
}

.section {
  &__heading {
    font-size: 25px;
    font-weight: 700;
    line-height: 34px;
    text-align: center;
  }
}
