.wrapper {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  background-color: var(--ds-background-200);
  min-height: 100vh;
  box-sizing: border-box;
  padding-bottom: 80px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  font-size: 24px;
  font-weight: 700;
  color: var(--ds-gray-1000);
}

.subtitle {
  font-size: 20px;
  font-weight: 600;
  color: var(--ds-gray-1000);
}

.essayList {
  border: 1px dashed var(--ds-gray-alpha-400); // Изменено на dashed
  border-radius: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.essayItem {
  border: 1px solid var(--ds-gray-alpha-500);
  border-radius: 12px;
  padding: 10px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  font-weight: 500;
  background-color: var(--ds-background-200);
}

/* Стили для статусов */
.statusBought {
  color: #6c757d; // Фиолетовый
  font-weight: 600;
  font-size: 11px;
  white-space: nowrap;
}

.statusInProgress {
  color: #4900dc; // Оранжевый
  font-weight: 600;
  font-size: 11px;
  white-space: nowrap;
}

.statusInReview {
  color: #17a2b8; // Бирюзовый
  font-weight: 600;
  font-size: 11px;
  white-space: nowrap;
}

.statusReviewed {
  color: #16d74a; // Зелёный
  font-weight: 600;
  font-size: 11px;
  white-space: nowrap;
}

.statusUnknown {
  color: #6c757d; // Серый
  font-weight: 600;
  font-size: 11px;
  white-space: nowrap;
}

/* Магазин сочинений */
.shopGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.card {
  border: 1px solid var(--ds-gray-alpha-400);
  border-radius: 16px;
  overflow: hidden;
  background-color: var(--ds-background-200);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
}

.cardImage {
  width: 100%;
  height: 100px;
  object-fit: cover;
}

.cardText {
  padding: 8px;
  font-size: 14px;
  font-weight: 600;
}

.emptyPlaceholder {
  border: 1px dashed var(--ds-gray-alpha-400);
  border-radius: 12px;
  padding: 10px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  color: var(--ds-gray-alpha-500);
  background-color: var(--ds-background-200);
  min-height: 48px;
}

.emptyText {
  text-align: center;
  color: var(--ds-gray-alpha-500);
}
