.wrapper {
    padding: 16px;
  }
  
  .title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 24px;
  }
  
  .section {
    margin-bottom: 20px;
  }
  
  .subtitle {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  
  .fileBox {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px;
    border: 1px dashed var(--ds-gray-alpha-400);
    border-radius: 12px;
    background-color: var(--ds-background-200);
  }
  
  .fileIcon {
    width: 32px;
    height: 32px;
  }
  
  .fileName {
    font-weight: 600;
    font-size: 16px;
  }
  
  .statusBlock {
    font-size: 16px;
    margin-top: 20px;
  }
  
  .statusBought {
    color: #6c757d;
    font-weight: 600;
    font-size: 16px;
    white-space: nowrap;
  }
  
  .statusInProgress {
    color: #4900dc;
    font-weight: 600;
    font-size: 16px;
    white-space: nowrap;
  }
  
  .statusInReview {
    color: #17a2b8;
    font-weight: 600;
    font-size: 16px;
    white-space: nowrap;
  }
  
  .statusReviewed {
    color: #16d74a;
    font-weight: 600;
    font-size: 16px;
    white-space: nowrap;
  }
  
  .statusUnknown {
    color: #6c757d;
    font-weight: 600;
    font-size: 16px;
    white-space: nowrap;
  }  
  .complete {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10%;
  
    background-color: var(--ds-background-100);
    padding: var(--spacing-4);
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    z-index: 10;
  }
  
  .button {
    background-color: #4900DC;
    width: 100%;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: var(--rounded-2xl);
    padding: var(--spacing-3) var(--spacing-6);
    cursor: pointer;
    transition: background-color 0.3s;
  
    &--inactive {
      background-color: #280078; /* Цвет неактивной кнопки */
      color: #a5a5a5;
      cursor: not-allowed;
  
    }
  }