.choices {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  line-height: 1.6;
  font-size: 18px;
  font-weight: 500;
}

.choice {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: default;

  &::before {
    content: "";
    visibility: hidden;
  }
}

.choice_candidate::before {
  content: ",";
  visibility: visible;
  display: inline-block;
  width: 26px;
  height: 26px;
  line-height: 24px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  border-radius: 50%;
  border: 2px solid var(--ds-gray-alpha-400);
  background-color: var(--ds-purple-100);
  color: var(--ds-gray-1000);
}

.choice_selected::before {
  content: ",";
  visibility: visible;
  border-color: var(--ds-violet-700);
  background-color: var(--ds-violet-300);
  color: var(--ds-violet-700);
}

.choice_right::before {
  content: ",";
  visibility: visible;
  border-color: var(--success-primary);
  background-color: var(--success-background);
  color: var(--success-primary);
}

.choice_wrong::before {
  content: ",";
  visibility: visible;
  border-color: var(--error-primary);
  background-color: var(--error-background);
  color: var(--error-primary);
}

.choice_disabled {
  pointer-events: none;
  opacity: 0.4;
}
